.headerContainer {
  font-size: x-large;
  font-family: "Apple Chancery";
}
.textLabel {
  margin-top: 10px;
  margin-top: 30px;
}
.buttonContainer {
  --background: darkcyan;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
}
.buttonContainerS {
  --background: darkcyan;
  height: 80px;
  width: 100%;
  font-size: x-large;
  font-weight: bold;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  font-family: "Apple Chancery";
}
