<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <ion-menu side="start" content-id="main-content">
            <ion-header>
            <ion-toolbar translucent>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
            </ion-header>
            <ion-content>
            <ion-list>
                <ion-item>
                <ion-icon name="home" slot="start"></ion-icon>
                <ion-label routerLink="/welcome">Home</ion-label>
                </ion-item>
                <ion-item>
                <ion-icon name="bag" slot="start"></ion-icon>
                <ion-label routerLink="/shop">Shop</ion-label>
                </ion-item>
                <ion-item>
                <ion-icon name="accessibility" slot="start"></ion-icon>
                <ion-label routerLink="/organizations">Organisations</ion-label>
                </ion-item>
            </ion-list>
            </ion-content>
    </ion-menu>

<ion-content>
  <ion-header id="main-content">
    <ion-toolbar position="top" class="new-background-color">
      <ion-buttons slot="start">
        <ion-menu-button style="color:white"></ion-menu-button>
      </ion-buttons>
      <ion-title class="headerTitle">Little Helpers</ion-title>
      <div>
        <button class="styled-button" (click)="goToCart()"><i class="fa fa-shopping-cart"></i></button>
        <button class="styled-button" (click)="OpenPage()"><i class="fa fa-user"></i></button>
      </div>
    </ion-toolbar>


    <ion-toolbar>
      <div class="page">
        <div class="text">
          <h1 class="title">Hello <span class="wave">👋</span></h1>
          <p class="darkcyan"> if you love helping people , you have found the right place to be</p>
          <p class="darkcyan">our team have developed a platform where organizations from around the world can inform individuals how
            they can subscribe to their cause</p>
        </div>

        <div class="row">
          <div class="column">
            <img style="display: block;margin-left: auto;margin-right: auto;" src="assets/organization_image.png">
            <div class="overlay">
              <div class="text_image">
                <h2>Organization</h2>
                They describe about their cause and the type of support that they offer
              </div>
            </div>
          </div>
          <div class="column" style="top: -150px;">
            <img style=" display: block;margin-left: auto;margin-right: auto;width: 40%;" src="assets/care.png">
            <div class="overlay">
              <div class="text_image">
                <h2>Users</h2>
                They can attend at events organised by organization or support them by shopping
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
</ion-content>
