.page {
  flex: 1;
  background: azure;
  display: flow-root;
  padding-right: 20px;
  min-height: 600px;
}
.column-title {
  font-family: Courier;
  color: darkcyan;
  font-size: large;
  padding: 40px;
  padding-right: 100px;
}
.page-title {
  margin-left: 50%;
  color: darkcyan;
  font-family: "Apple Chancery";
}
.btn {
  border-radius: 50%;
  background: darkcyan;
  color: white;
  height: 15%;
  font-size: 20px;
}
.removeall {
  background: darkcyan;
  color: #fff;
  font-weight: 600;
  border: 1px solid darkcyan;
  border-radius: 4px;
  margin-left: 48%;
  font-size: 20px;
}
.column-text {
  color: darkcyan;
  font-family: Courier;
  font-size: 20px;
}
.new-background-color {
  --background: darkcyan;
}
.headerTitle {
  font-family: "Apple Chancery";
  font-size: 28px;
  color: white;
  justify-content: center;
}
.styled-button {
  background-color: darkcyan;
  border: none;
  color: white;
  padding: 20px;
  font-size: x-large;
  cursor: pointer;
  margin-left: 75%;
}
.title {
  text-align: center;
  font-family: Cursive;
  font-size: 40px;
}
.text {
  text-align: center;
  font-family: Cursive;
  font-size: 20px;
  margin-top: 90px;
}
