.titleContainer {
  font-size: 35px;
  text-align: center;
  font-family: "Apple Chancery";
  color: darkcyan;
}
.page {
  width: 100%;
  height: 1000px;
  flex: 1;
  background: azure;
  padding: 20px;
  display: flow-root;
  padding-right: 20px;
}
.logInContainer {
  width: 80%;
  height: 45%;
  background-color: darkcyan;
  margin: auto;
  margin-top: 4%;
  border-radius: 25px;
  flex: 1;
}
.text {
  padding: 10px;
  text-align: center;
  font-size: x-large;
  font-family: "Apple Chancery";
  color: white;
}
.form {
  margin: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.inputAreaBorder {
  border-radius: 20px;
}
.textLabel {
  color: darkcyan;
  text-align: start;
}
