<ion-content>

  <ion-header>
    <ion-toolbar>
      <ion-title class="headerContainer">Reset Password</ion-title>
      <ion-button (click)="CloseModal()" slot="primary" class="buttonContainer">Close</ion-button>

    </ion-toolbar>
  </ion-header>

  <div class="textLabel">
    <ion-item>
      <ion-label position="fixed">Email</ion-label>
      <ion-input #email></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="fixed">New Password</ion-label>
      <ion-input type="Password" #password></ion-input>
    </ion-item>
  </div>

  <ion-button class="buttonContainerS" (click) = "ChangePassword(email, password)" >Reset Password</ion-button>


</ion-content>
